.fc-wallet-activity-snippet-19212--root * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.fc-wallet-activity-snippet-19212--root a {
	text-decoration: none;
	color: inherit;
}

.fc-wallet-activity-snippet-19212--root {
	width: 100%;
}

.fc-wallet-activity-snippet-19212--root .login-container {
	display: flex;
	justify-content: center;
	margin: 50px;
}

.fc-wallet-activity-snippet-19212--root .login-container a {
	background-color: #ebebeb;
	padding: 10px 30px;
}

.fc-wallet-activity-snippet-19212--root .snippet-container {
	width: 95%;
	margin: auto;
	max-width: 1000px;
}

.fc-wallet-activity-snippet-19212--root .total-points-wrapper {
	background: #ebebeb;
	border-radius: 8px;
	padding: 15px;
}

.fc-wallet-activity-snippet-19212--root .total-points-container {
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 10px;
}

.fc-wallet-activity-snippet-19212--root .total-points-container .total-points {
	font-size: 42px;
	font-weight: 600;
}

.fc-wallet-activity-snippet-19212--root .points-svg-container {
	display: flex;
	justify-content: left;
	align-items: center;
}

.fc-wallet-activity-snippet-19212--root .snippet-container .transaction-logs-wrapper {
	margin-top: 36px;
}

.fc-wallet-activity-snippet-19212--root .snippet-container .transaction-logs-wrapper .transaction-log-container {
	margin: 14px 0px;
	padding: 0px;
	border: 1px solid rgb(231, 231, 231);
	border-radius: 6px;
	box-shadow: 1px 2px 2px rgb(231, 231, 231);
}

.fc-wallet-activity-snippet-19212--root .transaction-log-container .log-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgb(231, 231, 231);
	padding: 8px 18px;
	font-size: 16px;
}

.fc-wallet-activity-snippet-19212--root .log-header .log-type {
	border-radius: 4px;
	padding: 4px 8px;
	font-weight: 600;
}

.fc-wallet-activity-snippet-19212--root .log-header .log-type.credited {
	background-color: rgb(209, 255, 217);
	color: rgb(30, 175, 109);
}

.fc-wallet-activity-snippet-19212--root .log-header .log-type.debited {
	background-color: rgba(181, 0, 0, 0.1);
	color: rgb(181, 0, 0);
}

.fc-wallet-activity-snippet-19212--root .transaction-log-container .log-body {
	padding: 8px 18px;
}

.fc-wallet-activity-snippet-19212--root .transaction-log-container .log-body .amount {
	font-size: 20px;
	font-weight: 600;
}

@keyframes shimmer {
	to {
		background-position: -100% 0;
	}
}

.skeletonloader {
	margin: 10px auto;
	border-radius: 3px;
}

.skeleton-loader-container {
	width: 80%;
	margin: auto;
}

@media screen and (max-width: 480px) {
	.skeleton-loader-container {
		width: 92%;
	}
}