/* :root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #222;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	align-items: center;
	min-height: 100vh;
} */

.fc-wallet-cart-widget-19212-root * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.fc-wallet-cart-widget-19212-root a {
	text-decoration: none;
	color: inherit;
}

.fc-wallet-cart-widget-19212-root {
	width: 100%;
}

.fc-wallet-cart-widget-19212-root .login-container {
	background-color: #ebebeb;
	display: flex;
	justify-content: center;
	padding: 10px 10px;
}

.fc-wallet-cart-widget-19212-root .wallet-box-container {
	background-color: #ebebeb;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px 8px;
}

.fc-wallet-cart-widget-19212-root .point-details {
	font-weight: bolder;
	margin-left: 6px;
}

.fc-wallet-cart-widget-19212-root .checkbox-container {
	padding: 0px 10px;
}

.fc-wallet-cart-widget-19212-root .checkbox-container .container input {
	display: none;
}

.fc-wallet-cart-widget-19212-root .checkbox-container .container {
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 20px;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.fc-wallet-cart-widget-19212-root .checkbox-container .checkmark {
	position: relative;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #2196F300;
	border-radius: 5px;
	transition: all 0.25s;
}

/* When the checkbox is checked, add a blue background */
.fc-wallet-cart-widget-19212-root .checkbox-container .container input:checked~.checkmark {
	background-color: #000000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.fc-wallet-cart-widget-19212-root .checkbox-container .checkmark:after {
	content: "";
	position: absolute;
	transform: rotate(0deg);
	border: 0.1em solid black;
	left: 0;
	top: 0;
	width: 25px;
	height: 25px;
	border-radius: 5px;
	transition: all 0.25s, border-width 0.1s;
}

/* Show the checkmark when checked */
.fc-wallet-cart-widget-19212-root .checkbox-container .container input:checked~.checkmark:after {
	left: 0.45em;
	top: 0.25em;
	width: 0.25em;
	height: 0.5em;
	border-color: #fff0 white white #fff0;
	border-width: 0 0.15em 0.15em 0;
	border-radius: 0em;
	transform: rotate(45deg);
}

.fc-wallet-cart-widget-19212-root .circularloader {
	width: 20px;
	transform-origin: center;
	animation: rotate4 2s linear infinite;
	margin-left: 8px;
}

.fc-wallet-cart-widget-19212-root .circularloader circle {
	fill: none;
	stroke: hsl(3, 0%, 0%);
	stroke-width: 5;
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
	animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash4 {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 90, 200;
		stroke-dashoffset: -35px;
	}

	100% {
		stroke-dashoffset: -125px;
	}
}

.fc-wallet-cart-widget-19212-root .skeletonloader {
	background-image: linear-gradient(90deg,
			#ccc 0px,
			rgb(229 229 229 / 90%) 40px,
			#ccc 80px);
	background-size: 300%;
	background-position: 100% 0;
	border-radius: inherit;
	animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
	to {
		background-position: -100% 0;
	}
}


.fc-wallet-cart-widget-19212-root .wallet-applied-details-container {
	background-color: #ebebeb;
	margin-top: 8px;
	padding: 4px 8px;
}

.fc-wallet-cart-widget-19212-root .wallet-applied-details-container .wallet-applied-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fc-wallet-cart-widget-19212-root .apply-code-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px auto;
}

.fc-wallet-cart-widget-19212-root .apply-code-container .input-container {
	width: 100%;
}

.fc-wallet-cart-widget-19212-root .apply-code-container .input-container input {
	width: 95%;
	padding: 10px;
}

.fc-wallet-cart-widget-19212-root .apply-code-container .apply-btn {
	background: #000;
	color: #fff;
	padding: 6px 16px;
}

.fc-wallet-cart-widget-19212-root .apply-btn .circularloader {
	width: 22px;
}

.fc-wallet-cart-widget-19212-root .apply-btn .circularloader circle {
	stroke: hsl(0, 0%, 100%);
}

.fc-wallet-cart-widget-19212-root .cashback-strip-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 1);
	color: white;
}

.fc-wallet-cart-widget-19212-root .cashback-strip-container p {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
}
.fc-wallet-cart-widget-19212-root .cashback-strip-container p span {
	font-weight: 600;
}

.fc-wallet-cart-widget-19212-root .cashback-strip-container p::before {
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	background: url('https://media.farziengineer.co/farziwallet/get-cashback.png');
	background-size: 100%;
	margin-right: 8px;
}