p {
    margin: 0;
    padding: 0;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes slide-in-top {
	0% {
	  -webkit-transform: translateY(-1000px);
			  transform: translateY(-1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }


.fc-spin-wheel-snippet-19212-root {
	display: flex;
	justify-content: center;
}

.widget-container {
    --loyalty_popup_theme_background: #000000;
	--coin-svg-url: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='12' fill='%23000000'/%3E%3Cpath d='M11.6003 6.28047C11.6301 6.19829 11.6845 6.12728 11.7561 6.0771C11.8277 6.02692 11.913 6 12.0004 6C12.0879 6 12.1732 6.02692 12.2448 6.0771C12.3164 6.12728 12.3708 6.19829 12.4006 6.28047L12.8076 7.39245C13.1264 8.2644 13.6316 9.05626 14.2881 9.71274C14.9446 10.3692 15.7364 10.8745 16.6084 11.1933L17.7195 11.6003C17.8017 11.6301 17.8727 11.6845 17.9229 11.7561C17.9731 11.8277 18 11.913 18 12.0004C18 12.0879 17.9731 12.1732 17.9229 12.2448C17.8727 12.3164 17.8017 12.3708 17.7195 12.4006L16.6084 12.8076C15.7364 13.1264 14.9446 13.6316 14.2881 14.2881C13.6316 14.9446 13.1264 15.7364 12.8076 16.6084L12.4006 17.7195C12.3708 17.8017 12.3164 17.8727 12.2448 17.9229C12.1732 17.9731 12.0879 18 12.0004 18C11.913 18 11.8277 17.9731 11.7561 17.9229C11.6845 17.8727 11.6301 17.8017 11.6003 17.7195L11.1933 16.6084C10.8745 15.7364 10.3692 14.9446 9.71274 14.2881C9.05626 13.6316 8.2644 13.1264 7.39245 12.8076L6.28047 12.4006C6.19829 12.3708 6.12728 12.3164 6.0771 12.2448C6.02692 12.1732 6 12.0879 6 12.0004C6 11.913 6.02692 11.8277 6.0771 11.7561C6.12728 11.6845 6.19829 11.6301 6.28047 11.6003L7.39245 11.1933C8.2644 10.8745 9.05626 10.3692 9.71274 9.71274C10.3692 9.05626 10.8745 8.2644 11.1933 7.39245L11.6003 6.28047Z' fill='white'/%3E%3C/svg%3E%0A");
	--coin-svg-inverted-url: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9.5' cy='9.5' r='9.5' fill='white'/%3E%3Cpath d='M9.18353 4.97204C9.20715 4.90698 9.25022 4.85076 9.3069 4.81104C9.36358 4.77131 9.43112 4.75 9.50034 4.75C9.56955 4.75 9.63709 4.77131 9.69377 4.81104C9.75045 4.85076 9.79353 4.90698 9.81714 4.97204L10.1393 5.85236C10.3917 6.54265 10.7917 7.16954 11.3114 7.68925C11.8311 8.20896 12.458 8.60897 13.1483 8.86133L14.028 9.18353C14.093 9.20715 14.1492 9.25022 14.189 9.3069C14.2287 9.36358 14.25 9.43112 14.25 9.50034C14.25 9.56955 14.2287 9.63709 14.189 9.69377C14.1492 9.75045 14.093 9.79353 14.028 9.81714L13.1483 10.1393C12.458 10.3917 11.8311 10.7917 11.3114 11.3114C10.7917 11.8311 10.3917 12.458 10.1393 13.1483L9.81714 14.028C9.79353 14.093 9.75045 14.1492 9.69377 14.189C9.63709 14.2287 9.56955 14.25 9.50034 14.25C9.43112 14.25 9.36358 14.2287 9.3069 14.189C9.25022 14.1492 9.20715 14.093 9.18353 14.028L8.86133 13.1483C8.60897 12.458 8.20896 11.8311 7.68925 11.3114C7.16954 10.7917 6.54265 10.3917 5.85236 10.1393L4.97204 9.81714C4.90698 9.79353 4.85076 9.75045 4.81104 9.69377C4.77131 9.63709 4.75 9.56955 4.75 9.50034C4.75 9.43112 4.77131 9.36358 4.81104 9.3069C4.85076 9.25022 4.90698 9.20715 4.97204 9.18353L5.85236 8.86133C6.54265 8.60897 7.16954 8.20896 7.68925 7.68925C8.20896 7.16954 8.60897 6.54265 8.86133 5.85236L9.18353 4.97204Z' fill='%23000000'/%3E%3C/svg%3E%0A");
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}



.spinner {
	animation: rotate 2s linear infinite;
}

.loading-screen{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.6);
}

.viewAllCoupons {
	background-color: white;
	width: 100%;
	height: 100%;
}

.viewAllCouponsContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	padding-bottom: 6px;
	width: 100%;
}

.viewAllCouponsContainer h1 {
	font-size: 20px;
    font-weight: 700;
}

.viewAllCouponsContainer a {
	cursor: pointer;
    font-weight: 500;
    font-size: 12px;
}


.viewAllCouponsHeader h4 {
	font-size: 20px;
	font-weight: 700;
}
.viewAllCouponsHeader img {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.viewAllCouponTabText {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.viewAllCouponTabText h4 {
	cursor: pointer;
	color: #959595;
}

.viewAllCouponsTab {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 16px;
}

.viewAllFeaturedComponent h3 {
	margin-left: 16px;
}
.reedemfcCoins {
	padding: 16px;
}
.reedemfcCoins h5, .exploreCoupons h5{
	font-weight: 700;
    font-size: 16px;
}
.reedemfcCoins p{
	/* margin-top: 8px; */
    font-weight: 400;
    font-size: 12px;
	line-height: 14px;
}


.reedemfcCoinsCard {
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 8px;
	border-radius: 8px;
	cursor: pointer;
}
.exploreCouponCard {
	background-color: #f4f4f4;
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 16px;
	border-radius: 8px;
	cursor: pointer;
}
.exploreCoupons {
	padding: 16px;
}

.shipImgBox {
	border-right: 1px dashed #959595;
	padding-right: 8px;
    margin-right: 8px
}

.exploreCouponCardText {
	font-weight: 700;
    font-size: 14px;
}

.exploreCouponCardText img {
	width: 12px;
	height: 12px;
}

.yourCouponsCardMainContainer {
	padding: 16px;
}

.yourCouponsCardContainer {
	background-color: #f4f4f4;
	border-radius: 8px;
	display: flex;
	margin-top: 16px;
}

.youCouponCardLeft, .youCouponCardRight {
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.youCouponCardLeft {
	border-right: 1px dashed #959595;
	align-items: center;
}

.youCouponCardRight {
	align-items: start;
    width: 100%;
}

.youCouponCardLeft h5 {
	font-size: 24px;
    margin: 0px;
}

.youCouponCardLeft p {
	font-size: 14px;
}


.youCouponCardRight h4, .yourCouponCode {
	font-weight: bold;
	font-size: 13px;
	color: var(--loyalty_popup_theme_background, #000);
}

.youCouponCardRight p {
	color: #acacac;
	font-size: 12px;
}

.yourCouponsActiveTab {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 30px;
}

.yourCouponsActiveTab div {
	background: #d9d9d9;
    border-radius: 8px;
    padding: 8px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.walletCoinsBox {
	display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--loyalty_popup_theme_background, #000);
    padding: 4px 8px;
    border-radius: 50px;
    gap: 4px;
    width: fit-content;
	margin-top: 1em;
}

.walletCoinsBox p {
	color: white;
	font-size: 20px;
    margin: 0;
}

.walletCoinsBox img {
	width: 16px;
	height: 16px;
}


.showGamesCards {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4em;
	flex-wrap: wrap;
  }

.gamesCard {
	background-color: #efefef;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding: 8px;
	padding-top: 8px;
	padding-top: 8px;
	padding-top: 30px;
	border-radius: 8px;
	position: relative;
	bottom: 20px;
	min-width: 170px;
	height: 200px;
	gap: 12px;
}

.gamesCardImg {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	position: relative;
}

.gamesCardImg img {
	height: 140px;
}


.showGamesTab {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	/* padding: 0px 16px; */
}

.showGamesTab h2 {
	font-size: 18px;
}

.gamesTab {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.walletCoinsBox {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--loyalty_popup_theme_background, #000);
	padding: 2px 8px;
	border-radius: 50px;
	gap: 4px;
	width: fit-content;
}

.walletCoinsBox p {
	color: white;
	font-size: 20px;
}

.walletCoinsBox img {
	width: 16px;
	height: 16px;
}

.viewAllCoupons {
	background-color: white;
	width: 100%;
	height: 100%;
}

.viewAllCouponsHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 16px;
}

.viewAllCouponsHeader h4 {
	font-size: 20px;
	font-weight: 700;
}
.viewAllCouponsHeader img {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.viewAllCouponTabText {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.viewAllCouponTabText h4 {
	cursor: pointer;
	color: #959595;
}

.viewAllCouponsTab {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 16px;
}

.gamesCardBtn {
	background: var(--loyalty_popup_theme_background, #000);
    border-radius: 4px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 8px;
    cursor: pointer;
	border: none;
}

.coinBox {
	background: #fff;
	border-radius: 4px;
    width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 8px;
	color: var(--loyalty_popup_theme_background, #000);
	font-size: 14px;
	gap: 4px;
    height: 32px;
    max-height: fit-content;
}


.gamesCardTitle {
	font-weight: 600;
    font-size: 12px;
	text-align: center;
	color: black;
    margin: 0px;
}

.gamesCardDesc {
	font-weight: 500;
    font-size: 12px;
    margin-bottom: 8px;
}

.coinIcon { 
    background-image: var(--coin-svg-url);
	width: 20px;
	height: 20px;
	background-size: 100% 100%;
}

.lockedIcon {
	position: absolute;
	z-index: 2;
	transform: rotate(90deg);
	right: 125px;
  	top: 118px;
}

#fw-chart-spin-wheel {
	transform: rotate(-90deg);
	max-width: 400px;
	max-height: 400px;
	position: relative;
}


.spinWinPopup {
	background-color: var(--loyalty_popup_theme_background, #000);
    color: #fff;
    padding: 30px 25px;
    box-shadow: 0 -4px 24px rgba(0,0,0,.12);
    border-radius: 12px;
    max-width: 90%;
	display: flex;
	position: relative;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	gap: 8px;
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	z-index: 2;
	left: 0;
}

.spinWinPopup h2 {
	font-size: 18px;
    text-align: center;
	margin: 0;
}
.spinWinPopup h3 {
	font-size: 20px;
    text-align: center;
	margin: 0;
}
.spinWinPopup p {
	font-size: 14px;
}

.playagainbtn {
	width: 100%;
    background: #fff;
    color: var(--loyalty_popup_theme_background, #000);
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
	border: none;
}

.closebtn {
	color: #fff;
    background: var(--loyalty_popup_theme_background, #000);;
    border: 0;
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

.couponUnlockBtn {
	background-color: var(--loyalty_popup_theme_background, #000);
    color: #fff;
    padding: 11px 0;
    border-radius: 8px;
    font-family: Inter,sans-serif;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
	border: none;
}

.alert {
	position: absolute;
	bottom: 50%;
	left: 50%;
	z-index: 999;
	background: #160b0b;
	color: #f4c7c7;
	font-weight: 400;
	font-size: 14px;
	border-radius: 4px;
	padding: 8px 22px;
	transition: 0.5s all ease;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(-50%, -50%);
	width: fit-content;
	animation-name: fade-in;
	animation-duration: 0.5s;
}

.alert svg.fw-wallet-alert-popup-error {
	width: 22px;
	height: 22px;
	fill: rgb(244, 67, 54);
	margin-right: 8px;
}

.spinWheelBottom {
	margin-bottom: 2em;
}

.spinWheelBottom hr {
	width: 100%;
	border: none;
	height: 1px;
	background: repeating-linear-gradient(90deg,#000,#000 6px,transparent 6px,transparent 12px);
}

.spinWheelBottom h4 {
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	margin: 0;
}

.spinWinContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-46%, -30%);
}

.gamesCardTitle {
	font-size: 18px;
}

.chart-spin-container {
	width: 100%;
}

.spinWheelMainContainer {
	position: relative;
}

.walletCoinContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }

@media (max-width:768px) {
	.widget-container{
		width: 85%;
	}
}

.loginbtn{
	background-color: #efefef;
	text-decoration: none;
	color: black;
	padding: 12px;
	border-radius: 8px;
	width: fit-content;
}

.fc-spin-wheel-snippet-19212-root .widget-container {
	display: block;
}