.fc-cart-drawer-19212--root * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.fc-cart-drawer-19212--root a {
	text-decoration: none;
	color: inherit;
}

.fc-cart-drawer-19212--root {
	width: 100%;
	}

.fc-cart-drawer-19212--root .cart-container{
	background-color: white;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 90vw;
    max-width: 400px;
    transition: ease-out 0.3s;
    z-index: 2000;
    cursor: default;
    overflow-y: scroll;
}
.fc-cart-drawer-19212--root .cart-container.open{

    right: 0;

}
.fc-cart-drawer-19212--root .cart-overlay{
    background-color: #01010194;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left:-100vw;
    z-index: 999;
    opacity: 0;
    cursor: url(//www.vilvahstore.com/cdn/shop/t/162/assets/cursor-close.svg?v=1471745…),auto;
    
}
.fc-cart-drawer-19212--root .cart-overlay.open{
    opacity: 1;
    left:0;
}
.cart-container h1.fc-cart-drawer-title{
    font-size: 25px;
    color: black;
    background-color: rgb(231, 158, 158);
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1rem;
    z-index: 9999;
}
.fc-close-slider{
    height: 40px;
    position: fixed;
    width: 40px;
    border: none;
    outline: none;
    right: 1rem;
    top: 12px;
    background: none;
    cursor: pointer;
    z-index: 99999;
    opacity:0;
}
.fc-close-slider.open{
    opacity: 1;
}
.cart-drawer-cart-items-container{
    width: 100%;
    min-height: 100%;
    background: white;
    position: relative;
    top: 60px;
    margin-bottom: 10rem;

}
.single-item-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    gap: 3rem;
    border-bottom: 1px solid #00000052;
    border-width: thin;
}

img.cart-item-image{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.item-details-containing-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.item-details-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p.item-title-cart-drawer{
    font-size: 16px;
    font-weight: 700;
    max-width: 90%;
    color: black;
}
button.item-remove-button{
    border: none;
    background: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.item-details-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-quantity-tracking{
    display: flex;
}
button.minusBtn{
    width: 38px;
    height: 38px;
   
    cursor: pointer;
}
button.plusBtn{
    width: 38px;
    height: 38px;
    cursor: pointer;
}
input.current-quantity{
    height: 38px;
    width: 38px;
    display: flex;
    text-align: center;
    
}
div.item-price-wrapper{
    display: flex;
    gap: 1rem;
}
