.fc-referral-popup-19212-root h2,
p {
  margin: 0;
}

.referralPopupContainer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  min-width: 250px;
  padding: 25px 30px 30px 30px;
  border-radius: 10px;
  z-index: 999;
  width: 70%;
  position: relative;
}

.referralPopupContainer img {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: white;
  border-radius: 8px;
}
.referralPopupContainer h2 {
  margin-top: 30px;
  font-size: 28px;
  color: white;
}

.referralPopupContainer p {
  font-size: 16px;
  text-align: center;
  color: white;
  margin-top: 20px;
  z-index: 10;
  position: relative;
}
.referralPopupContainer span {
  color: gold;
}

.referralPopupParent {
  background-color: #00000090;
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  place-items: center;
}
